# Forza HTTPS. Verificato il 16/08/2026: http://www.gruppopugliagrotte.it/
# risponde 200 in chiaro oggi (Aruba non lo fa automaticamente a monte) --
# questa regola ha quindi un effetto reale, non è solo difesa in profondità.
# Ripresa dal vecchio .htaccess WordPress, che redirigeva anche sotto /home/:
# scartata quella parte, non più pertinente (il ponte verso WordPress non
# serve più, tutto il sito vive già alla webroot con Hugo).
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(www\.)?gruppopugliagrotte\.it$
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# Redirect 301 dai vecchi URL del sito (WordPress sotto /home/, e
# prima ancora un sito statico servito dalla webroot stessa) ai nuovi
# permalink Hugo. Generato da scripts/generate-htaccess.py -- non scritto
# a mano: se cambia un permalink, rilanciare lo script invece di editare
# qui (le modifiche manuali verrebbero perse al prossimo rilancio).
#
# RedirectMatch (non Redirect): match esatto per regex ancorata (^...$),
# non prefisso -- evita che una regola più corta (es. /home/corsi/) intercetti
# per errore richieste più specifiche (es. /home/corsi/52-corso-.../) in base
# all'ordine delle direttive.

RedirectMatch 301 ^/GruppoPugliaGrotteCatalogoBiblioteca2013\.zip/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/GruppoPugliaGrotteCatalogoBiblioteca2013.zip
RedirectMatch 301 ^/albania\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/albania/
RedirectMatch 301 ^/attivi/programma0607\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/programma-2006-2007/
RedirectMatch 301 ^/bollettini/2008/GPGBollettino2008\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/bollettini/2008/GPGBollettino2008.pdf
RedirectMatch 301 ^/convreg/images/CassaRuralePetit\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/convreg/images/CassaRuralePetit.jpg
RedirectMatch 301 ^/convreg/images/ComuneCastellana\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/convreg/images/ComuneCastellana.jpg
RedirectMatch 301 ^/convreg/images/GrotteSrl\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/convreg/images/GrotteSrl.jpg
RedirectMatch 301 ^/convreg/images/LabInstruments\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/convreg/images/LabInstruments.jpg
RedirectMatch 301 ^/convreg/images/LogoFsp\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/convreg/images/LogoFsp.jpg
RedirectMatch 301 ^/convreg/images/LogodefinitivoPiccolo\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/convreg/images/LogodefinitivoPiccolo.jpg
RedirectMatch 301 ^/convreg/images/SSI\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/convreg/images/SSI.jpg
RedirectMatch 301 ^/convreg/images/ordinegeologi\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/convreg/images/ordinegeologi.jpg
RedirectMatch 301 ^/convreg/images/regionepuglia\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/convreg/images/regionepuglia.jpg
RedirectMatch 301 ^/convreg/images/scienze\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/convreg/images/scienze.jpg
RedirectMatch 301 ^/convreg/programma\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/iii-convegno-speleologia-pugliese/
RedirectMatch 301 ^/corso/33/LezioneLovece\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/corso/33/LezioneLovece.pdf
RedirectMatch 301 ^/corso/corsoalburni\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/corso-alburni/
RedirectMatch 301 ^/cuba\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/cuba/
RedirectMatch 301 ^/esplo_ita\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/esplorazione-e-ricerca/
RedirectMatch 301 ^/esplorazioni/alburni/PROGETTO_GENTILI_2012\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/alburni/PROGETTO_GENTILI_2012.pdf
RedirectMatch 301 ^/esplorazioni/alburni/ProgettoDidatticoAlburni\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/alburni/ProgettoDidatticoAlburni.pdf
RedirectMatch 301 ^/esplorazioni/alburni/ProgettoDidatticoAlburniFinale\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/alburni/ProgettoDidatticoAlburniFinale.pdf
RedirectMatch 301 ^/esplorazioni/alburni/RelazioneAlburn28\.04\.06\.05\.2012\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/alburni/RelazioneAlburn28.04.06.05.2012.pdf
RedirectMatch 301 ^/esplorazioni/alburni/alburni10febb2012\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/alburni/alburni10febb2012.pdf
RedirectMatch 301 ^/esplorazioni/alburni/alburni12apr2012\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/alburni/alburni12apr2012.pdf
RedirectMatch 301 ^/esplorazioni/alburni/alburni16giu2012\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/alburni/alburni16giu2012.pdf
RedirectMatch 301 ^/esplorazioni/alburni/alburni18mar2012\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/alburni/alburni18mar2012.pdf
RedirectMatch 301 ^/esplorazioni/alburni/alburni19febb2012\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/alburni/alburni19febb2012.pdf
RedirectMatch 301 ^/esplorazioni/alburni/alburni26febb2012\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/alburni/alburni26febb2012.pdf
RedirectMatch 301 ^/esplorazioni/alburni/alburni31mar2012\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/alburni/alburni31mar2012.pdf
RedirectMatch 301 ^/esplorazioni/alburni/alburni7apri2012\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/alburni/alburni7apri2012.pdf
RedirectMatch 301 ^/esplorazioni/alburni/alburni8apri2012\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/alburni/alburni8apri2012.pdf
RedirectMatch 301 ^/esplorazioni/alburni/alburnicolorazioni10mar2012\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/alburni/alburnicolorazioni10mar2012.pdf
RedirectMatch 301 ^/esplorazioni/alburni/alburnifebb2012\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/alburni/alburnifebb2012.pdf
RedirectMatch 301 ^/esplorazioni/fotomonopoli\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/esplorazioni/monopoli-reportage-fotografico/
RedirectMatch 301 ^/esplorazioni/monopoli\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/esplorazioni/monopoli/
RedirectMatch 301 ^/esplorazioni/monopoli/TRASMISSIONERILIEVIMONOPOLI\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/monopoli/TRASMISSIONERILIEVIMONOPOLI.pdf
RedirectMatch 301 ^/esplorazioni/monopoli/relazionefinale\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/monopoli/relazionefinale.pdf
RedirectMatch 301 ^/esplorazioni/monopoli2\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/esplorazioni/monopoli-rilievo/
RedirectMatch 301 ^/esplorazioni/speleoartifi/Catasto\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/esplorazioni/speleoartifi/Catasto.pdf
RedirectMatch 301 ^/esplorazioni/speleoartifi/depositocarrino\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/deposito-carrino/
RedirectMatch 301 ^/eventi/convegno2007\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/convegno-2007/
RedirectMatch 301 ^/eventi/images/convegno2007/castellani\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/eventi/images/convegno2007/castellani.jpg
RedirectMatch 301 ^/eventi/images/convegno2007/loghi\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/eventi/images/convegno2007/loghi.jpg
RedirectMatch 301 ^/eventi/images/convegno2007/logo\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/eventi/images/convegno2007/logo.jpg
RedirectMatch 301 ^/eventi/images/spelaion2011/logoexport\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/eventi/images/spelaion2011/logoexport.jpg
RedirectMatch 301 ^/eventi/spelaion2011\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/spelaion-2011/
RedirectMatch 301 ^/eventi/spelaion2011/AttiSpelaion2011\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/eventi/spelaion2011/AttiSpelaion2011.pdf
RedirectMatch 301 ^/eventi/spelaion2011/CSSpelaion\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/eventi/spelaion2011/CSSpelaion.pdf
RedirectMatch 301 ^/eventi/spelaion2011/CSSpelaionFinale\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/eventi/spelaion2011/CSSpelaionFinale.pdf
RedirectMatch 301 ^/eventi/spelaion2011/FotoAlbum\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/eventi/spelaion2011/FotoAlbum.pdf
RedirectMatch 301 ^/eventi/spelaion2011/SSISpelaion2011\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/eventi/spelaion2011/SSISpelaion2011.pdf
RedirectMatch 301 ^/eventi/spelaion2011/Spelaion2011\-Iscrizione\.doc/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/eventi/spelaion2011/Spelaion2011-Iscrizione.doc
RedirectMatch 301 ^/eventi/spelaion2011/Spelaion2011\-SchedaInformativa\.doc/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/eventi/spelaion2011/Spelaion2011-SchedaInformativa.doc
RedirectMatch 301 ^/eventi/spelaion2011/Spelaion2011\-UltimaCircolare\.pdf/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/eventi/spelaion2011/Spelaion2011-UltimaCircolare.pdf
RedirectMatch 301 ^/eventi/spelaion2011/Spelaion2011\-liberatoria\.doc/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/eventi/spelaion2011/Spelaion2011-liberatoria.doc
RedirectMatch 301 ^/eventi/spelaion2011/chi\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/spelaion-2011/
RedirectMatch 301 ^/eventi/spelaion2011/come\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/spelaion-2011/
RedirectMatch 301 ^/eventi/spelaion2011/contatti\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/spelaion-2011/
RedirectMatch 301 ^/eventi/spelaion2011/cosa\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/spelaion-2011/
RedirectMatch 301 ^/eventi/spelaion2011/dove\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/spelaion-2011/
RedirectMatch 301 ^/eventi/spelaion2011/download\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/spelaion-2011/
RedirectMatch 301 ^/eventi/spelaion2011/programma\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/spelaion-2011/
RedirectMatch 301 ^/eventi/spelaion2011/staff\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/spelaion-2011/
RedirectMatch 301 ^/festival\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/festival-avventura/
RedirectMatch 301 ^/home/?$ https://www.gruppopugliagrotte.it/
RedirectMatch 301 ^/home/ambiente/?$ https://www.gruppopugliagrotte.it/ambiente/
RedirectMatch 301 ^/home/cavita\-artificiali/?$ https://www.gruppopugliagrotte.it/esplorazioni/cavita-artificiali/
RedirectMatch 301 ^/home/chi\-siamo/?$ https://www.gruppopugliagrotte.it/chi-siamo/
RedirectMatch 301 ^/home/chi\-siamo/contatti/?$ https://www.gruppopugliagrotte.it/chi-siamo/contatti/
RedirectMatch 301 ^/home/chi\-siamo/il\-consiglio\-direttivo/?$ https://www.gruppopugliagrotte.it/chi-siamo/consiglio-direttivo/
RedirectMatch 301 ^/home/chi\-siamo/lo\-statuto/?$ https://www.gruppopugliagrotte.it/chi-siamo/statuto/
RedirectMatch 301 ^/home/convegno\-11\-13\-maggio\-programma\-e\-registrazione/?$ https://www.gruppopugliagrotte.it/novita/convegno-11-13-maggio-programma-e-registrazione/
RedirectMatch 301 ^/home/corsi/?$ https://www.gruppopugliagrotte.it/corsi/
RedirectMatch 301 ^/home/corsi/49\-corso\-di\-speleologia/?$ https://www.gruppopugliagrotte.it/corsi/49-corso-di-speleologia/
RedirectMatch 301 ^/home/corsi/50\-corso\-di\-speleologia/?$ https://www.gruppopugliagrotte.it/corsi/50-corso-di-speleologia/
RedirectMatch 301 ^/home/corsi/51\-corso\-di\-speleologia/?$ https://www.gruppopugliagrotte.it/corsi/51-corso-di-speleologia/
RedirectMatch 301 ^/home/corsi/52\-corso\-di\-speleologia/?$ https://www.gruppopugliagrotte.it/corsi/52-corso-di-speleologia/
RedirectMatch 301 ^/home/corsi/il\-45\-corso\-di\-speleologia\-di\-primo\-livello/?$ https://www.gruppopugliagrotte.it/corsi/il-45-corso-di-speleologia-di-primo-livello/
RedirectMatch 301 ^/home/corsi/il\-46\-corso\-di\-speleologia\-di\-primo\-livello/?$ https://www.gruppopugliagrotte.it/corsi/il-46-corso-di-speleologia-di-primo-livello/
RedirectMatch 301 ^/home/corsi/il\-48\-corso\-di\-speleologia\-di\-primo\-livello/?$ https://www.gruppopugliagrotte.it/corsi/il-48-corso-di-speleologia-di-primo-livello/
RedirectMatch 301 ^/home/corsi/il\-xli\-corso\-di\-speleologia\-di\-primo\-livello/?$ https://www.gruppopugliagrotte.it/corsi/il-xli-corso-di-speleologia-di-primo-livello/
RedirectMatch 301 ^/home/corsi/il\-xliii\-corso\-di\-speleologia\-di\-primo\-livello/?$ https://www.gruppopugliagrotte.it/corsi/il-xliii-corso-di-speleologia-di-primo-livello/
RedirectMatch 301 ^/home/corsi/il\-xxxvii\-corso\-di\-speleologia\-di\-primo\-livello/?$ https://www.gruppopugliagrotte.it/corsi/il-xxxvii-corso-di-speleologia-di-primo-livello/
RedirectMatch 301 ^/home/corsi/il\-xxxviii\-corso\-di\-speleologia\-di\-primo\-livello/?$ https://www.gruppopugliagrotte.it/corsi/il-xxxviii-corso-di-speleologia-di-primo-livello/
RedirectMatch 301 ^/home/discesa\-della\-grave\-delle\-grotte\-castellana/?$ https://www.gruppopugliagrotte.it/novita/discesa-della-grave-delle-grotte-castellana/
RedirectMatch 301 ^/home/discesa\-della\-grave\-delle\-grotte\-di\-castellana/?$ https://www.gruppopugliagrotte.it/novita/discesa-della-grave-delle-grotte-di-castellana/
RedirectMatch 301 ^/home/esplorazioni/?$ https://www.gruppopugliagrotte.it/esplorazioni/
RedirectMatch 301 ^/home/esplorazioni/internazionali/?$ https://www.gruppopugliagrotte.it/esplorazioni/internazionali/
RedirectMatch 301 ^/home/esplorazioni/nazionali/?$ https://www.gruppopugliagrotte.it/esplorazioni/nazionali/
RedirectMatch 301 ^/home/esplorazioni/nazionali/progetto\-catasto\-delle\-grotte\-e\-delle\-cavita\-artificiali\-2010/?$ https://www.gruppopugliagrotte.it/esplorazioni/nazionali/progetto-catasto-delle-grotte-e-delle-cavita-artificiali-2010/
RedirectMatch 301 ^/home/esplorazioni/nazionali/progetto\-catasto\-delle\-grotte\-e\-delle\-cavita\-artificiali/?$ https://www.gruppopugliagrotte.it/esplorazioni/nazionali/progetto-catasto-delle-grotte-e-delle-cavita-artificiali/
RedirectMatch 301 ^/home/esplorazioni/nazionali/progetto\-grotta\-del\-dragone/?$ https://www.gruppopugliagrotte.it/esplorazioni/nazionali/progetto-grotta-del-dragone/
RedirectMatch 301 ^/home/esplorazioni/nazionali/progetto\-impalata/?$ https://www.gruppopugliagrotte.it/esplorazioni/nazionali/progetto-impalata/
RedirectMatch 301 ^/home/esplorazioni/nazionali/programma\-attivita\-speleologica\-autunno\-inverno\-2006\-2007/?$ https://www.gruppopugliagrotte.it/esplorazioni/nazionali/programma-attivita-speleologica-autunno-inverno-2006-2007/
RedirectMatch 301 ^/home/eventi/?$ https://www.gruppopugliagrotte.it/eventi/
RedirectMatch 301 ^/home/eventi/discesa\-su\-teleferica\-della\-befana/?$ https://www.gruppopugliagrotte.it/eventi/discesa-su-teleferica-della-befana/
RedirectMatch 301 ^/home/eventi/settimana\-del\-pianeta\-terra/?$ https://www.gruppopugliagrotte.it/eventi/settimana-del-pianeta-terra/
RedirectMatch 301 ^/home/eventi/tavola\-rotonda\-acque\-del\-terzo\-millennio/?$ https://www.gruppopugliagrotte.it/eventi/tavola-rotonda-acque-del-terzo-millennio/
RedirectMatch 301 ^/home/eventi/una\-mostra\-fotografica\-storica\-sulle\-grotte\-nel\-cuore\-di\-castellana/?$ https://www.gruppopugliagrotte.it/eventi/una-mostra-fotografica-storica-sulle-grotte-nel-cuore-di-castellana/
RedirectMatch 301 ^/home/giornata\-mondiale\-della\-biodiversita/?$ https://www.gruppopugliagrotte.it/novita/giornata-mondiale-della-biodiversita/
RedirectMatch 301 ^/home/giornata\-nazionale\-della\-speleologia\-2015/?$ https://www.gruppopugliagrotte.it/novita/giornata-nazionale-della-speleologia-2015/
RedirectMatch 301 ^/home/giornata\-nazionale\-della\-speleologia\-2017/?$ https://www.gruppopugliagrotte.it/novita/giornata-nazionale-della-speleologia-2017/
RedirectMatch 301 ^/home/giornata\-nazionale\-della\-speleologia/?$ https://www.gruppopugliagrotte.it/novita/giornata-nazionale-della-speleologia/
RedirectMatch 301 ^/home/grotte\-turismo\-e\-ricerca\-scientifica/?$ https://www.gruppopugliagrotte.it/novita/grotte-turismo-e-ricerca-scientifica/
RedirectMatch 301 ^/home/il\-43\-corso\-di\-primo\-livello/?$ https://www.gruppopugliagrotte.it/novita/il-43-corso-di-primo-livello/
RedirectMatch 301 ^/home/il\-51\-corso\-di\-introduzione\-alla\-speleologia/?$ https://www.gruppopugliagrotte.it/novita/il-51-corso-di-introduzione-alla-speleologia/
RedirectMatch 301 ^/home/il\-corso\-di\-introduzione\-del\-2024/?$ https://www.gruppopugliagrotte.it/novita/il-corso-di-introduzione-del-2024/
RedirectMatch 301 ^/home/il\-corso\-di\-primo\-livello\-2014/?$ https://www.gruppopugliagrotte.it/novita/il-corso-di-primo-livello-2014/
RedirectMatch 301 ^/home/il\-corso\-di\-primo\-livello\-2015/?$ https://www.gruppopugliagrotte.it/novita/il-corso-di-primo-livello-2015/
RedirectMatch 301 ^/home/il\-corso\-di\-primo\-livello\-2016/?$ https://www.gruppopugliagrotte.it/novita/il-corso-di-primo-livello-2016/
RedirectMatch 301 ^/home/il\-nuovo\-sito/?$ https://www.gruppopugliagrotte.it/novita/il-nuovo-sito/
RedirectMatch 301 ^/home/la\-giornata\-nazionale\-della\-speleologia\-2019/?$ https://www.gruppopugliagrotte.it/novita/la-giornata-nazionale-della-speleologia-2019/
RedirectMatch 301 ^/home/museo/?$ https://www.gruppopugliagrotte.it/museo/
RedirectMatch 301 ^/home/museo/chi\-era\-franco\-anelli/?$ https://www.gruppopugliagrotte.it/museo/chi-era-franco-anelli/
RedirectMatch 301 ^/home/novita/di\-nuovo\-il\-nuovo\-sito/?$ https://www.gruppopugliagrotte.it/novita/di-nuovo-il-nuovo-sito/
RedirectMatch 301 ^/home/nuove\-esplorazioni\-in\-alburni\-il\-buco\-diventa\-grotta/?$ https://www.gruppopugliagrotte.it/novita/nuove-esplorazioni-in-alburni-il-buco-diventa-grotta/
RedirectMatch 301 ^/home/progetto\-stem\-science\-technology\-engineering\-mathematics\-i\-colori\-della\-scienza\-in\-collaborazione\-con\-litt\-luigi\-dellerba/?$ https://www.gruppopugliagrotte.it/novita/progetto-stem-science-technology-engineering-mathematics-i-colori-della-scienza-in-collaborazione-con-litt-luigi-dellerba/
RedirectMatch 301 ^/home/pronti\-per\-46\-corso\-di\-primo\-livello/?$ https://www.gruppopugliagrotte.it/novita/pronti-per-46-corso-di-primo-livello/
RedirectMatch 301 ^/home/pronti\-per\-il\-48\-corso\-di\-speleologia\-di\-primo\-livello/?$ https://www.gruppopugliagrotte.it/novita/pronti-per-il-48-corso-di-speleologia-di-primo-livello/
RedirectMatch 301 ^/home/pronti\-per\-il\-49\-corso\-di\-speleologia\-di\-primo\-livello/?$ https://www.gruppopugliagrotte.it/novita/pronti-per-il-49-corso-di-speleologia-di-primo-livello/
RedirectMatch 301 ^/home/pubblicazioni/?$ https://www.gruppopugliagrotte.it/pubblicazioni/
RedirectMatch 301 ^/home/pubblicazioni/bollettini\-puglia\-grotte/?$ https://www.gruppopugliagrotte.it/pubblicazioni/bollettini-puglia-grotte/
RedirectMatch 301 ^/home/pubblicazioni/bollettini\-puglia\-grotte/bollettino\-1984/?$ https://www.gruppopugliagrotte.it/pubblicazioni/bollettini-puglia-grotte/bollettino-1984/
RedirectMatch 301 ^/home/pubblicazioni/bollettini\-puglia\-grotte/bollettino\-1985/?$ https://www.gruppopugliagrotte.it/pubblicazioni/bollettini-puglia-grotte/bollettino-1985/
RedirectMatch 301 ^/home/pubblicazioni/i\-quaderni\-di\-speleologia\-meridionale/?$ https://www.gruppopugliagrotte.it/pubblicazioni/i-quaderni-di-speleologia-meridionale/
RedirectMatch 301 ^/home/pubblicazioni/il\-primo\-convegno\-regionale\-di\-speleologia\-pugliese/?$ https://www.gruppopugliagrotte.it/pubblicazioni/il-primo-convegno-regionale-di-speleologia-pugliese/
RedirectMatch 301 ^/home/pubblicazioni/il\-terzo\-convegno\-di\-speleologia\-pugliese\-spelaion/?$ https://www.gruppopugliagrotte.it/pubblicazioni/il-terzo-convegno-di-speleologia-pugliese-spelaion/
RedirectMatch 301 ^/home/pubblicazioni/il\-xv\-congresso\-nazionale\-di\-speleologia/?$ https://www.gruppopugliagrotte.it/pubblicazioni/il-xv-congresso-nazionale-di-speleologia/
RedirectMatch 301 ^/home/pubblicazioni/primo\-convegno\-regionale\-di\-speleologia\-in\-cavita\-artificiali/?$ https://www.gruppopugliagrotte.it/pubblicazioni/primo-convegno-regionale-di-speleologia-in-cavita-artificiali/
RedirectMatch 301 ^/home/pubblicazioni/secondo\-convegno\-regionale\-di\-speleologia/?$ https://www.gruppopugliagrotte.it/pubblicazioni/secondo-convegno-regionale-di-speleologia/
RedirectMatch 301 ^/home/puliamo\-il\-buio\-puliamo\-il\-mondo\-2016\-insieme\-a\-monopoli/?$ https://www.gruppopugliagrotte.it/novita/puliamo-il-buio-puliamo-il-mondo-2016-insieme-a-monopoli/
RedirectMatch 301 ^/home/raccontando\-i\-campi\-2022/?$ https://www.gruppopugliagrotte.it/novita/raccontando-i-campi-2022/
RedirectMatch 301 ^/home/risorgenza\-di\-canale\-palazzo\-la\-storia\-continua/?$ https://www.gruppopugliagrotte.it/novita/risorgenza-di-canale-palazzo-la-storia-continua/
RedirectMatch 301 ^/home/settimana\-del\-pianeta\-terra/?$ https://www.gruppopugliagrotte.it/novita/settimana-del-pianeta-terra/
RedirectMatch 301 ^/home/stato\-del\-monitoraggio\-di\-italodytes\-stammeri/?$ https://www.gruppopugliagrotte.it/novita/stato-del-monitoraggio-di-italodytes-stammeri/
RedirectMatch 301 ^/home/un\-sabato\-mattina\-a\-scuola/?$ https://www.gruppopugliagrotte.it/novita/un-sabato-mattina-a-scuola/
RedirectMatch 301 ^/home/uscita\-di\-avvicinamento\-alla\-speleologia\-2022/?$ https://www.gruppopugliagrotte.it/novita/uscita-di-avvicinamento-alla-speleologia-2022/
RedirectMatch 301 ^/images/1984_little\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/1984_little.jpg
RedirectMatch 301 ^/images/1985_little\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/1985_little.jpg
RedirectMatch 301 ^/images/1986_little\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/1986_little.jpg
RedirectMatch 301 ^/images/1991_little\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/1991_little.jpg
RedirectMatch 301 ^/images/1993_little\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/1993_little.jpg
RedirectMatch 301 ^/images/1995_little\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/1995_little.jpg
RedirectMatch 301 ^/images/1996_little\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/1996_little.jpg
RedirectMatch 301 ^/images/1999_little\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/1999_little.jpg
RedirectMatch 301 ^/images/2001_little\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/2001_little.jpg
RedirectMatch 301 ^/images/2003_little\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/2003_little.jpg
RedirectMatch 301 ^/images/2008_little\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/2008_little.jpg
RedirectMatch 301 ^/images/anelli\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/anelli.jpg
RedirectMatch 301 ^/images/bro\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/bro.jpg
RedirectMatch 301 ^/images/convnaz87\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/convnaz87.jpg
RedirectMatch 301 ^/images/convreg1992\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/convreg1992.jpg
RedirectMatch 301 ^/images/convreg85\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/convreg85.jpg
RedirectMatch 301 ^/images/q_1985_little\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/q_1985_little.jpg
RedirectMatch 301 ^/images/q_1986_little\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/q_1986_little.jpg
RedirectMatch 301 ^/images/q_1987_little\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/q_1987_little.jpg
RedirectMatch 301 ^/images/q_1995_little\.jpg/?$ https://www.gruppopugliagrotte.it/archivio-storico/legacy/images/q_1995_little.jpg
RedirectMatch 301 ^/museo\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/museo/
RedirectMatch 301 ^/pubb_ita\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/pubblicazioni/
RedirectMatch 301 ^/pugliagrotte\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/pugliagrotte/
RedirectMatch 301 ^/rivistaNS\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/rivista-grotte-e-dintorni/
RedirectMatch 301 ^/santomas/chi\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/progetto-santo-tomas/
RedirectMatch 301 ^/santomas/dove\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/progetto-santo-tomas/
RedirectMatch 301 ^/santomas/index\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/progetto-santo-tomas/
RedirectMatch 301 ^/santomas/perche\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/progetto-santo-tomas/
RedirectMatch 301 ^/speleoartifi\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/speleologia-artificiale/
RedirectMatch 301 ^/speleonight\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/speleonight/
RedirectMatch 301 ^/storiagpg\.htm/?$ https://www.gruppopugliagrotte.it/archivio-storico/storiagpg/
